.black {
    width: 45px;
    height: 45px;
    background-color: darkslategrey;

}
.white {
    width: 45px;
    height: 45px;
    background-color: white;

}

.wrapper {
    width: 100%;
    margin:0 auto;
}

.possible-moves {
    width: 45px;
    height: 45px;
    background-color: yellow;
}

a {
    width: 100%;
    height: 100%;
    display: block;
}